




<div class="row">

    <div class="col-md-3" align="center">
        <h2>@ViewBag.Message</h2>

    </div>



    <div class="col-md-6" align="center">
        <h1>PAYPAl تنزيل وثيقة خاصة للتبرع عن طريقة  </h1>
    </div>


    <div class="col-md-3" align="center">
        <h2>@ViewBag.Message</h2>
    </div>

</div>  
