
@{
    ViewBag.Title = "סלאמתכום";
}


<div class="row">

    <div class="col-md-4" align="center">
        <h2>חדשות יומיומיות</h2>

    </div>



    <div class="col-md-4" align="center">
        <marquee behavior="scroll" direction="up" scrolldelay="50">
            <p><img src="https://scontent.fhfa2-1.fna.fbcdn.net/v/t1.0-9/1976961_802297156470355_5153050688111667329_n.png?oh=b72dc1ccda31edff81b9bb2b42af66f1&oe=597FE596" /></p>
            </marquee>
   
</div>

        
    <div class="col-md-4" align ="center">
        <h2>החדשות</h2>
        
</div>

</div>