@{
    ViewBag.Title = "מידע על הטורמים";
}

<div class="row">


    <div class="col-md-9" align="center">
        <h2>@ViewBag.Title</h2>
        <h>program</h>
        <p><img src="https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/378243_453602341339840_213692627_n.jpg?oh=7fd79696043d5d384dd92fec5acce2b7&oe=59B8E327" /></p>

        
    </div>
</div>




