extends layout

block content
  .d(style="margin-top: 100px;")
  .container
    form(method='post' action="/auth/logout" style="display: inline; text-align: center;" )
      input(class='btn btn-primary' type='submit', value='تسجيل الخروج')
   
      .editor
        label.control-label
        h1(style="text-align:center; width: 100% !important;") calender, well be add soon

        