
extends layout

block content
    // Header
    header
      .container
        .intro-text(style='padding-top: 30px !important; margin-top: 0px !important; height: 750px; margin-top: 14%;')
          .intro-lead-in(style="font-family: 'Reem Kufi', sans-serif !important;") 
          .intro-heading(style="font-family: 'Reem Kufi', sans-serif !important;") 
          
           // About Section
    section#about
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading(style="font-family: 'Reem Kufi', sans-serif !important;") نبذة عن الجمعية
            h4 سلامتكم - رغم الألم يوجد أمل

            br
            br
        .row
          .col-lg-12
            ul.timeline
              li
                .timeline-image
                  img.img-circle.img-responsive(src='img/1.png', style='height: 100% !important;', alt='')
                .timeline-panel
                  .timeline-heading
                   // h4 سلامتكم - رغم الألم يوجد أمل
                  
                  .timeline-body
                    h4
                      | انطلاقتنا بدأت بفكرة بسيطة! تتمثل في تقديم مساعدات للمرضى العرب في المستشفيات الاسرائيلية، وخصوصا في الترجمة! ولكن خلال فترة قصيرة اصبحت "سلامتكم" عنواناً هاما، ووحيدا في معظم الحالات، في العديد من مستشفيات القدس والمركز، من أجل تقديم مساعدات لآلاف المرضى الفلسطينيين من الضفة وغزة: في التغطيات الطبية والمواصلات والاجهزة والادوات الطبية، بالاضافة الى النشاطات الترفيهية داخل وخارج المستشفيات 

              li.timeline-inverted
                .timeline-image
                  img.img-circle.img-responsive(src='img/about1.jpg', style='height: 100% !important;width: 100% !important;', alt='')
                .timeline-panel
                  .timeline-heading
                    h4 "إذا نظرت بعين التفاؤل إلى الوجود، لرأيت الجمال شائعاً في كل ذراته"
                    h4 وهذا ما نسعى عمله في "سلامتكم" - أن نعطي ذلك الأمل في كل لحظات الألم.

                    //h4.subheading فتح مكتبة ابوغوش لطلاب الجامعات 
                  //.timeline-body
                    p.text-muted
                      | قامت الجمعية بافتتاح مكتبة ابوغوش لتصبح مكبة عامه لطلاب ابوغوش وللاجتماعات , فقد قامت بترتيب وتجهيز المكتبة لكي يتمكنوا الطلاب بالدراسة فيها بشكل جماعي او فردي في جو لطيف بعيدا عن كل ازعاج

              li.timeline-inverted
                .timeline-image
                  h4
                    | كن جزءاً
                    br
                    | من 
                    br
                    | ...هذه الجمعية
    
  
   
    // Team Section
    section#team.bg-light-gray
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading(style="font-family: 'Reem Kufi', sans-serif !important;")  اعضاء ادارة سلامتكم
            hr
            hr
         .container  
           .row 
              .col-md-4
                       ul.reema
                           .timeline-image
                            h4
                              br
                              | حنين مجادلة
                              br
                              .h5| طالبة دكتوراة
                              .h5| في العمل الاجتماعي
                              br   
                     .col-md-4
                      ul.reema
                          .timeline-image
                            h4
                              br
                              | المحامي 
                              br
                              | يعقوب ابراهيم
                              br
                              .h5| لقب ثان في المحاماة             
                    .col-md-4
                      ul.reema
                          .timeline-image
                              h4
                                br
                                | ريما ابو قطيش
                                br
                                | معالجة بالنطق 
                                br
                                | وصاحبة لقب ثاني
                                br
                                .h5| مديرة الجمعية
                                
        .row           
          .col-md-2
            ul.fuad             
                       
        .row                    
          .col-md-2
                   ul.fuad
                      .timeline-image
                        h4
                          br
                          | تيسير عليان
                          br
                          .h5| مضمد مؤهل
                          br          
          .col-md-2
                   ul.fuad
                      .timeline-image
                        h4
                          br
                          | نورا جبر
                          br
                          .h5| طالبة طب
                          br
                          
          .col-md-2
                   ul.fuad
                      .timeline-image
                        h4
                          br
                          | يوسف زياد
                          br
                          .h5| طالب محاماة
                          br                  
           .col-md-2
                   ul.fuad
                      .timeline-image
                        h4
                          br
                          | نسرين ابراهيم
                          br
                          .h5| معلمة
                          br
           .col-md-2
                   ul.fuad
                      .timeline-image
                        h4
                          br
                          | الدكتور شادي صالح
                          br
                          .h5| طبيب
                          br
               .col-md-2
                       ul.fuad
                          .timeline-image
                            h4
                              br
                              | عبير جبر
                              br
                              .h5| موظفه 
                              br



              // donate Section
    section#donate(style="!important;")
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading(style="font-family: 'Reem Kufi', sans-serif !important;") سلامتكم - رغم الألم يوجد أمل 
            h3.section-subheading.text-muted يمكنكم التبرع بإحدى الطرق التالية 
        
        .row.text-center
          .col-md-3
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x.text-primary
                  i.fa.fa-university.fa-stack-1x.fa-inverse 
                h4.service-heading
                  // E-Commerce
                p.text-muted(style='font-weight: !important;')
                  |تحويل التبرع الى حساب 
                  | بنك هبينلئومي 
                  br
                  |(הבינלאומי (31
                  br
                  |  الفرع الرئيسي \ القدس - 012  
                  br
                  |حساب رقم 842907
                  br
                  |رمز الحساب 409
          .col-md-3
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x.text-primary
                  i.fa.fa-address-card-o.fa-stack-1x.fa-inverse
                h4.service-heading
                  // E-Commerce
                p.text-muted(style='font-weight: !important;')
                  |ارسال شيك الى عنوان الجمعية 
                  |ص.ب 40077 ميكود 90805
                
          .col-md-3
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x.text-primary
                  i.fa.fa-file-pdf-o.fa-stack-1x.fa-inverse
                h4.service-heading
                  // Responsive Design
                p.text-muted(style='font-weight: !important;')
                  | تحويلة شهرية بواسطة البنك (הוראת קבע) وذلك من خلال تعبئة النموذج المرفق واعادته الينا |في البريد او الاتصال بنا للتفاصيل
                  br
                  p
                  <a href="https://www.docdroid.net/sniLKF7/donate.pdf.html" target="_blank">لتعبئة النموذج اضغط هنا</a>
                  
                  
           .col-md-3
                span.fa-stack.fa-4x                
                  i.fa.fa-circle.fa-stack-2x.text-primary
                  i.fa.fa-cc-visa.fa-stack-1x.fa-inverse
                h4.service-heading
                  // Web Security
                p.text-muted(style='font-weight: !important;')
                  | للتبرع بواسطة بطاقة الاعتماد
                  br
                  p
                  <a href="https://www.paypal.com/il/cgi-bin/webscr?cmd=_flow&SESSION=EtVjzeHdKf65Ecc4h1JZ9nL-_oW5LMX1toPh1c22n5DBytEDmfS_U2su-U8&dispatch=5885d80a13c0db1f8e263663d3faee8d83a0bf7db316a7beb1b14b43acd04037&rapidsState=Donation__DonationFlow___StateDonationStart&rapidsStateSignature=2f1583b21edac3d96aab7a360ec70ca2158ecc49" target="_blank">اضغط هنا</a>
    

     // contact Section
    section#contact
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading(style="font-family: 'Reem Kufi', sans-serif !important; color:white")  راسلنا
        .row
          .col-md-5
            .row
              form(method="post" action="/mail")
                .form-group
                  input#name.form-control(type='text', placeholder='* الاسم ', name="name" ,required='', data-validation-required-message='الرجاء كتابة اسمك',)
                  p.help-block.text-danger
                .form-group
                  input#email.form-control(type='email',name="email" , placeholder='* البريد الالكتروني ', required='', data-validation-required-message='الرجاء كتابة بريدك الالكتروني.')
                  p.help-block.text-danger
                .form-group
                  input#phone.form-control(type='tel', placeholder='* رقم الهاتف ', name="phone" ,required='', data-validation-required-message='الرجاء كتابة رقمك.')
                  p.help-block.text-danger
                .form-group
                  textarea#message.form-control(placeholder='* الرسالة ', required='',name="message" , data-validation-required-message='لا يمكن ارسال رسالة فارغة.')
                  p.help-block.text-danger
                    input(id="sendmessage" style="margin-left: 36%; margin-top: 10%; width: 28%;" , class="btn btn-primary" type='submit' ,value="ارسل")
          .col-md-2
          .col-md-5
            ul.a
              li رقم تسجيل الجمعية: 580557791
              li هاتف: 0545994404 | 0525330111
              li فاكس: 025330111             
              li البريد الالكتروني: salametcom@gmail.com 
              li حساب الفيس بوك:  salametcom    		
                link(href='https://fonts.googleapis.com/css?family=Aclonica', rel='stylesheet')
                style.
                  body {
                  font-family: 'Aclonica';font-size: 14px;
                  }