extends layout

block content
  .loginmodal-container
    h1 دخول المتطوعين
    br
    if (error)
      .alert.alert-danger
         strong= error
    form(method='post' action="/authVol/loginVolounteer")
      input(type='text', name='user', placeholder='مستخدم')
      input(type='password', name='pass', placeholder='كلمة المرور')
      input.login.loginmodal-submit(type='submit', value='دخول')
    .login-help
 
    form
      input(type='button', value='الرجوع الى الصفحة الرئيسية', onclick='history.go(-1);return true;')  
                       