extends layout

block content
  .loginmodal-container
    h1 تسجيل الاعضاء
    br
    form(method="post" action="/registar")
      .form-group
        input#user.form-control(type='user', placeholder='الاسم *', name="user" ,required='', data-validation-required-message='الرجاء كتابة اسمك')
        p.help-block.text-danger
        input#place.form-control(type='text', placeholder='منطقة السكن *', name="place" ,required='', data-validation-required-message='الرجاء ادخال منطقة السكن')
        p.help-block.text-danger  
      .form-group
        input#email.form-control(type='email',name="email" , placeholder='البريد الالكتروني *', required='', data-validation-required-message='الرجاء كتابة بريدك الالكتروني.')
        p.help-block.text-danger
      .form-group
        input#phone.form-control(type='tel', placeholder='رقم الهاتف *', name="phone" ,required='', data-validation-required-message='الرجاء كتابة رقمك.')
        p.help-block.text-danger
        input#password.form-control(type='pass',name="password" , placeholder='كلمة السر *', required='', data-validation-required-message='الرجاء كتابة الرقم السري.')
      .checkbox
      .form-group
        input(id="registering" style="margin-bottom: 50%;" , class="btn btn-primary" type='submit' ,value="تسجيل")            
      .login-help
      .back             
        form
          input(type='button', value='الرجوع الى الصفحة الرئيسية', onclick='history.go(-1);return true;')
             